.Product2 {
    display: flex;
}
.check {
    padding-right: 10px;
    width: 50px;
    margin: 5px;
    text-align: center;
    line-height: 100px;
}

.product-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.product-image {
    padding-right: 20px;
}

.product-price {
    padding-left: 100px;
    line-height: 100px;
}

.CheckCartListTag {
    text-align: center;
    font-size: medium;
}
.fold {
    display: inline-block;
    width: 800px;
    height: auto;
    background-color: #FFFFFF;
    padding: 40px;
    margin: 15px;
    float: left;
}
.fold-cart {
    display: inline-block;
    width: 300px;
    background-color: #ca03fc;
    padding-right: 290px;
    float: right;
}
