@model Bank.Models.Customer

@{
    ViewBag.Title = "Insufficient";
}

<div style="margin-top:200px">
    <h2 style="text-align:center">Insufficient Amount</h2>
</div>
<div style="text-align:start"><h4>@Html.ActionLink("Back", "CustomerSection", Model)</h4></div>
